{% extends './base.html' %}
{% load static %}
{%load bootstrap%}



<body>


	<div class="conteiner">
		{%block content%}
		<nav class="barra">
			<div class="nome">
				<h2>Cadastro de Atividade</h2>
			</div>
			
		</nav>
		<form method="POST">{% csrf_token %}
			<div class="col-sm-12">
	        {{ atividade_form|bootstrap}}
	        {{ responsavel_form|bootstrap}}

	        <button type="submit" name="go" class="btn btn-success btn-md btn-block">SALVAR</button>
       </form>
	{% endblock %}
	</div>
</body>

</html>

