{% extends './base.html' %}
{% load static %}
{%load bootstrap%}


<header>
	<nav class="navbar ">
		<a class="navbar-brand " href="#">Cadastro Atividades</a>
	</nav>
</header>
<body>
	<div class="conteiner">
		{%block content%}
			<form method="POST">{% csrf_token %}
				<div class="col-sm-6">
		        {{ atividade_form|bootstrap}}
		        {{ responsavel_form|bootstrap}}
		        <button type="submit" name="go" class="btn btn-success btn-md btn-block">CADASTRAR ATIVIDADE</button>
		        </div>	            
           </form>
		{% endblock %}
	</div>
</body>
<!--
<footer class="navbar-footer navbar-fixed-bottom">
  	<div class="container-fluid">
    	<span>© Saturday'S Events</span>
  	</div>
</footer>
-->
</html>

