{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'cssBootstrap/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'cssBootstrap/bootstrap-theme.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cssPersonalizado/css/basePersonalizado.css'%}">
	<script src="{% static 'cssPersonalizado/js/jquery.js' %}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.js"></script>-->
    <script type="text/javascript" src="{% static 'cssMaterialize/js/materialize.js'%}"></script>
    <script type="text/javascript" src="{% static 'cssMaterialize/js/materialize.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cssPersonalizado/css/base.css'%}">
    <script type="text/javascript" src="{% static 'cssPersonalizado/js/jsPersonalizado.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Saturday Eventos</title>	
</head>
<header>
    <nav class="navbar ">
        <a class="navbar-brand " href="{% url 'home'%}">Saturday'S Event's</a>
        <a href="{% url 'logout' %}" class="material-icons right">exit_to_app</a>
    </nav>
    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2017 Equipe Saturday Copyright
            </div>
          </div>
    </footer>
</header>
<body>
	<div class="container">
    	<div class="row" id="pwd-container">	
    		{% block content %}
            {% endblock %}
    	</div>
	</div>
</body>
</html>