{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'cssBootstrap/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'cssBootstrap/bootstrap-theme.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cssPersonalizado/css/basePersonalizado.css'%}">
	<script src="{% static 'cssPersonalizado/js/jquery.js' %}"></script>
	<title>Saturday Eventos</title>	
</head>
<header>
    <nav class="navbar ">
        <a class="navbar-brand " href="{% url 'home'%}">Saturday'S Event's</a>
    </nav>
</header>
<body>
	<div class="container">
    	<div class="row" id="pwd-container">	
    		{% block content %}
            {% endblock %}
    	</div>
	</div>
</body>
<footer class="footer navbar-fixed-bottom ">
    <div class="container">
        <span>© 2017 Equipe Saturday Copyright</span>
    </div>
</footer>
</html>