{% load static %}
<html>
<head>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
	<link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/base.css'%}">
	<title>Sartuday Eventos</title>	
</head>
<header>
	<div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper ">
        <a href="#!" class="brand-logo">Saturday'S Events</a>
      </div>
    </nav>
  </div>
</header>
<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'cssMaterialize/js/materialize.js'}"></script>
    <script type="text/javascript" src="{% static 'cssMaterialize/js/materialize.min.js'}"></script>
			

	<div class="container">
	<div class="row" id="pwd-container">	
		{% block content %}
        {% endblock %}
	</div>
	</div>
</body>

</html>