{% extends './base.html' %}
{%load bootstrap%}

{%block content%}
			<div class="page-header">
			        <a href="{% url 'home' %}" class="top-menu"/>
			        <h1><a href="/">Sartuday's Event</a	></h1>
			</div>
			<form method="POST">{% csrf_token %}
				<div class="col-sm-10">
		        {{ form|bootstrap}}            	           	        
		        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Save</button>
		        </div>	           
           </form>
{% endblock %}