{% extends './baseMaterialize.html' %}
{% block content%}
{%for evento in eventos%}

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">event_available</i>Evento: {{evento}}</div>
      <div class="collapsible-body">
      	  <div class="collection">
		    <a href="{% url 'inscricao:inscricao' pk=evento.pk %}" class="collection-item">Inscrever-se nas Atividades</a>  
  			</div>
      </div>

    </li>
  </ul>
{% empty %}
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">event_available</i>Empty list eventos</div>
      </li>
    </ul>
    
{% endfor %}
{%endblock%}