{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" href="{% static 'cssMaterialize/js/materialize.js'}"></script>
	<script type="text/javascript" href="{% static 'cssMaterialize/js/materialize.min.js'}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'cssMaterialize/css/materialize.min.css'%}">
	<title>Home</title>
</head>
<body>
	
</body>
</html>

















































<!--

{% extends './base.html' %}
{% block content%}
<a href="{% url 'evento:cadastro_evento' %}" class="top-menu">criar evento</a><br/>
<a href="{% url 'evento:cadastro_atividade' %}" class="top-menu">adicionar atividade aos meus eventos</a><br/>
<a href="{% url 'tag:tag_usuario' %}" class="top-menu">adicionar tags a mim</a><br/>
<a href="{% url 'tag:tag_evento' %}" class="top-menu">adicionar tags aos meus eventos</a><br/>
<a href="{% url 'cupom:cadastro_cupom' %}" class="top-menu">adicionar cupons aos meus eventos</a><br/>
<a href="{% url 'evento:associar_evento' %}" class="top-menu">associar evento</a><br/>
<a href="{% url 'inscricao:inscricao' %}" class="top-menu">inscrever-se</a><br/>
<a href="{% url 'evento:criar_equipe' %}" class="top-menu">criar_equipe</a><br/>
<a href="{% url 'logout' %}" class="top-menu">sair</a>
{%endblock%}
-->