{% extends './baseMaterialize.html' %}
{% load static %}
{% block content%}
{%for evento in eventos%}
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">event_available</i>Evento: {{evento}}</div>
      <div class="collapsible-body">
      	  <div class="collection">
		    <a href="{% url 'evento:cadastro_atividade' pk=evento.pk %}" class="collection-item">Adicionar Atividade</a>
		    <a href="{% url 'cupom:cadastro_cupom' pk=evento.pk %}" class="collection-item">Cadastrar Cupom</a>
		    <a href="{% url 'evento:associar_evento' pk=evento.pk %}" class="collection-item">Associar Evento</a>
		    <a href="{% url 'tag:tag_evento' pk=evento.pk %}" class="collection-item"></span>Adicionar Tag</a>
  			</div>
      </div>
    </li>
  </ul>
{% empty %}
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">event_available</i>Empty list eventos</div>
    
{% endfor %}
{%endblock%}